<!DOCTYPE html>
<html>
<head>
    <title>Assignment 2</title>
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/ece1779bucket2/jquery-comments.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/ece1779bucket2/jssocials.css" />
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/ece1779bucket2/jssocials-theme-flat.css" /> 
    <script type="text/javascript" src="https://s3.amazonaws.com/ece1779bucket2/jquery-3.2.0.js"></script>
    <script src="https://s3.amazonaws.com/ece1779bucket2/jssocials.min.js"></script>       
    <script type="text/javascript" src="https://s3.amazonaws.com/ece1779bucket2/jquery-comments.js"></script>
    <!-- Data -->
    <!--<script type="text/javascript" src="static/comments-data.js"></script>-->
    <script type="text/javascript" src="https://s3.amazonaws.com/ece1779bucket2/comments-data.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style type="text/css">
    table
        { 
        margin-right: auto;
        margin-left: auto;
        column-count: 2;
        } 
    td
        {
        vertical-align: text-top;
        column-width: 1500px;
        }
.comments-container {
        padding-top: 10%;
        background-color: #F5F5F5; 
        }
#comments-container {
        padding-top: 10%;
        background-color: #F5F5F5; 
        }      
#shareIconsCountInside {
            vertical-align: center
        }
    button {
            vertical-align: center;
            margin-left: auto;
        }  
.jssocials-share-link { border-radius: 50%; }
.bgcolagree { background-color: green; }
.bgcoldisagree { background-color: blue; }
</style>


<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card-2" id="myNavbar">
        <a href="/dev/debate" class="w3-bar-item w3-button w3-wide">Majority Rules!</a>
        <a href="#icons" class="w3-bar-item w3-center w3-wide" id=shareRoundIcons></a>
        <!-- Right-sided navbar links -->
        <a href="/dev/results" class="w3-bar-item w3-right w3-button"><i class="fa fa-poll"></i> View Results </a>
        <a href="/dev/login" class="w3-bar-item w3-right w3-button"><i class="fa fa-user"></i> {{username if username != None}} </a>
        <div class="w3-bar w3-bar-block w3-center">
            <a href="/dev/vote_agree" class="bgcolagree w3-center w3-button">AGREE</a>
            <a href="/dev/vote_disagree" class="bgcoldisagree w3-center w3-button"></i> DISAGREE</a>   
        </div>

        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
      <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
      <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
      <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
      <a href="#icons" id=shareRoundIcons></a>
    </nav>

    <table>
        <tr id=shareRoundIcons></tr>
        <tr>
            <form>
                <button type="submit" formaction="/dev/login">{{username if username != None}}</button>
            </form>
        </tr>
        <!--
        <tr>
            <form>
                <td>
                    <button type="submit" formaction="/vote_agree">Agree</button>
                </td>
                <td>
                    <button type="submit" formaction="/vote_disagree">Disagree</button>
                </td>
            </form>
        </tr>
        -->
        <tr>
            <td >
                <p id=comments-container></p>
            </td>
            <td >
                <p class=comments-container></p>
            </td>
        </tr>
    </table>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <a href="debate" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>

</body>

<!--
<body>
    <div>
         <p id=comments-container></p>
    </div>
    <div>
         <p class=comments-container></p>
    </div>
</body>
-->


<!-- Init jquery-comments -->
<script type="text/javascript">

    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
    //$('.comments-container').width(700)
    //$('#comments-container').width(700)

    $("#shareRoundIcons").jsSocials({
        showLabel: false,
        showCount: false,
        shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
    });

    $(function() {
        var saveComment = function(data) {
            // Convert pings to human readable format
            $(data.pings).each(function(index, id) {
                var user = usersArray.filter(function(user){return user.id == id})[0];
                data.content = data.content.replace('@' + id, '@' + user.fullname);
            });

            return data;
        }
        
        $('#comments-container').comments({
            profilePictureURL: 'https://viima-app.s3.amazonaws.com/media/user_profiles/user-icon.png',
            currentUserId: 1,
            roundProfilePictures: true,
            textareaRows: 1,
            enableAttachments: true,
            enableHashtags: true,
            enablePinging: true,
            getUsers: function(success, error) {
                var usersArray = [];
                setTimeout(function() {
                    success(usersArray);
                }, 500);
            },
            getComments: function(success, error) {
                //setTimeout(function() {
                    var commentsArray = [];
                    // var src = 'https://s3.amazonaws.com/ece1779bucket2/comments-data-chat-right.json?nocache=' + (new Date()).getTime();
                    var src = 'https://s3.amazonaws.com/ece1779bucket2/comments-data-chat-left.json?nocache=' + (new Date()).getTime();
                    console.log(src);
                    $.getJSON(src, function (json) {
                        //console.log(commentsArray["commentsArray"]);
                        //console.log(json["commentsArray"]);
                        //location.reload();
                    for (var key in json["commentsArray"]) {
                        if (json.hasOwnProperty("commentsArray")) {
                            console.log(json["commentsArray"][key])
                            var item = json["commentsArray"][key];
                            commentsArray.push({
                                id: item.id,
                                parent: item.parent,
                                created: item.created,
                                modified: item.modified,
                                content: item.content,
                                pings: [],
                                creator: item.creator,
                                fullname: item.fullname,
                                profile_picture_url: item.profile_picture_url,
                                created_by_admin: item.created_by_admin,
                                created_by_current_user: item.created_by_current_user,
                                upvote_count: item.upvote_count,
                                user_has_upvoted: item.user_has_upvoted
                            });            
                        }
                    }
                    console.log("print before")
                    success(commentsArray);
                    console.log("print after")
                    });
                //}, 500);
            },
            
            postComment: function(data, success, error) {
                setTimeout(function() {
                $.ajax({
                        url: '/dev/comments_left',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : data.modified,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        } ,
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log('posted comment');
                            success(saveComment(data));
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 1000);
            },            

            putComment: function(data, success, error) {
                setTimeout(function() {
                    console.log("editing comment");
                    var now = new Date();
                    var str = now.toISOString();
                    $.ajax({
                        url: '/dev/comments_left',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : str,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        } ,
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log("edited comment");
                            success(saveComment(data));
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 500);
            },
            deleteComment: function(data, success, error) {
                setTimeout(function() {
                    $.ajax({
                        url: '/dev/del_comments_left',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : data.modified,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        },
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log("deleted");
                            success();
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 500);
            },
            upvoteComment: function(data, success, error) {
                setTimeout(function() {
                    $.ajax({
                        url: '/dev/comments_left',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : data.modified,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        } ,
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log("upvoted");
                            success(saveComment(data));
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 500);
            },
            uploadAttachments: function(dataArray, success, error) {
                setTimeout(function() {
                    success(dataArray);
                }, 500);
            },
        });
        
        
        $('.comments-container').comments({
            profilePictureURL: 'https://viima-app.s3.amazonaws.com/media/user_profiles/user-icon.png',
            currentUserId: 1,
            roundProfilePictures: true,
            textareaRows: 1,
            enableAttachments: true,
            enableHashtags: true,
            enablePinging: true,
            getUsers: function(success, error) {
                var usersArray = [];
                setTimeout(function() {
                    success(usersArray);
                }, 500);
            },
            getComments: function(success, error) {
                //setTimeout(function() {
                    var commentsArray = [];
                    // var src = 'https://s3.amazonaws.com/ece1779bucket2/comments-data-chat-right.json?nocache=' + (new Date()).getTime();
                    var src = 'https://s3.amazonaws.com/ece1779bucket2/comments-data-chat-right.json?nocache=' + (new Date()).getTime();
                    console.log(src);
                    $.getJSON(src, function (json) {
                        //console.log(commentsArray["commentsArray"]);
                        //console.log(json["commentsArray"]);
                        //location.reload();
                    for (var key in json["commentsArray"]) {
                        if (json.hasOwnProperty("commentsArray")) {
                            console.log(json["commentsArray"][key])
                            var item = json["commentsArray"][key];
                            commentsArray.push({
                                id: item.id,
                                parent: item.parent,
                                created: item.created,
                                modified: item.modified,
                                content: item.content,
                                pings: [],
                                creator: item.creator,
                                fullname: item.fullname,
                                profile_picture_url: item.profile_picture_url,
                                created_by_admin: item.created_by_admin,
                                created_by_current_user: item.created_by_current_user,
                                upvote_count: item.upvote_count,
                                user_has_upvoted: item.user_has_upvoted
                            });            
                        }
                    }
                    console.log("print before")
                    success(commentsArray);
                    console.log("print after")
                    });
                //}, 500);
            },
            
            postComment: function(data, success, error) {
                setTimeout(function() {
                $.ajax({
                        url: '/dev/comments_right',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : data.modified,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        } ,
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log('posted comment');
                            success(saveComment(data));
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 1000);
            },            

            putComment: function(data, success, error) {
                setTimeout(function() {
                    console.log("editing comment");
                    var now = new Date();
                    var str = now.toISOString();
                    $.ajax({
                        url: '/dev/comments_right',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : str,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        } ,
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log("edited comment");
                            success(saveComment(data));
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 500);
            },
            deleteComment: function(data, success, error) {
                setTimeout(function() {
                    $.ajax({
                        url: '/dev/del_comments_right',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : data.modified,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        },
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log("deleted");
                            success();
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 500);
            },
            upvoteComment: function(data, success, error) {
                setTimeout(function() {
                    $.ajax({
                        url: '/dev/comments_right',
                        type: 'post',
                        data: { 
                            id: data.id, 
                            parent : data.parent,
                            created : data.created,
                            modified : data.modified,
                            content : data.content,
                            pings : data.pings,
                            creator : data.creator,
                            fullname : data.fullname,
                            profile_picture_url: data.profile_picture_url,
                            created_by_admin : false,
                            created_by_current_user : data.created_by_current_user,
                            upvote_count : data.upvote_count,
                            user_has_upvoted : data.user_has_upvoted,
                        } ,
                        //contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log("upvoted");
                            success(saveComment(data));
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
                }, 500);
            },
            uploadAttachments: function(dataArray, success, error) {
                setTimeout(function() {
                    success(dataArray);
                }, 500);
            },
        });


        /*
        if ($('#comments-container').height() > $('.comments-container').height()) {
            $('.comments-container').height($('#comments-container').height());
        } else {
            $('#comments-container').height($('.comments-container').height());
        };
        */   

        console.log($('#comments-container').height())
        console.log($('.comments-container').height())


    });


</script>

</html>